body
{
    background-color: aqua;
}
#postText
{
    text-align: center;
}
#text1
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#commentText
{
    text-align: center;
}
#buttons
{
    text-align: center;
}
